*{
   color: black;

}

h1 {
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: 800;
    color: blue;
}

ul li a {
    text-decoration: none;
}
.h1_rojo{
    color: red;
}
#parrafo_1{
    font-style: italic;
}