*{
   color: black;

}

h1 {
    text-align: center;
    font-family: sans-serif;
    text-decoration: underline;
    font-weight: 800;
    color: blue;
}

ul li a {
    text-decoration: none;
}
.h1_rojo{
    color: red;
}
#parrafo_1{
    font-style: italic;
}

body, header, footer, aside{
    margin: 1vw;
    padding: 2vw;
}
.elemento {
    height: 50vh; /* La altura del elemento será el 50% del alto del viewport */
    width: 75vw; /* El ancho del elemento será el 75% del ancho del viewport */
  }
  .contenedor {
    margin-top: 10vh; /* Margen superior del 10% del alto del viewport */
    margin-right: 5vw; /* Margen derecho del 5% del ancho del viewport */
  }