p{
    border: 2px red solid;
    margin: 10px 20px;
    padding: 30px 100px;

}
hr{
    border-top: 4px solid red;
    border-bottom: 4px solid red;
    background-color: yellow;
    height: 10px;
}

#especial{
    color: red;
}
.ulti-ele{
    color: blue;
}